$white: #FFFFFF;
$black: #000000;
    
$color-app: #00B300;
$color-body: black;
$color-background-dark: #373737;
$color-background-title: #E4E4E4;
$color-background-subtitle: #EFEFEF;

$primary: #EA7915;
$secondary: #000000;
$info: #3AAFB9;
$warning: #FFF275;
$danger: #9A031E;
$success: #6BD425;

// Used to be able to edit values of bootstrap scss and css variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";



