$white: #FFFFFF;
$black: #000000;
    
$color-app: #00B300;
$color-body: black;
$color-background-dark: #373737;
$color-background-title: #E4E4E4;
$color-background-subtitle: #EFEFEF;


$primary:   #2563EB;

$secondary: #64748B;




$success:   #16A34A;

$info:      #0EA5E9;

$warning:   #F59E0B;

$danger:    #DC2626;




$dark:      #0F172A;

$light:     #F1F5F9;



$body-bg:       #F8FAFC;
$body-color:    #1E293B;
$card-bg:       #FFFFFF; 
$border-color:  #D1D5DB;
$table-bg: #FFFFFF;
$input-bg: #FFFFFF;

// Used to be able to edit values of bootstrap scss and css variables
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";



