@model List<LogiHub.Web.Features.Breadcrumb.BreadcrumbItem>

@if (Model != null && Model.Any())
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 mb-0 align-items-center fw-light">

            @foreach (var item in Model)
            {
                if (item.IsActive)
                {
                    <li class="breadcrumb-item active" aria-current="page">
                        @item.Text
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@item.Url" class="text-decoration-none">@item.Text</a>
                    </li>
                }
            }
        </ol>
    </nav>
}