@model LogiHub.Web.Areas.Inventario.Models.SessioniIndexViewModel

@{
    ViewData["Title"] = "Gestione Inventario";
}

<div>
    @await Html.PartialAsync("~/Features/SearchCard/_SearchCard.cshtml", Model.SearchCard)
</div>

<div class="d-md-none">
</div>