@media (max-width: 767.98px) {
    .offcanvas.offcanvas-adaptive {
        bottom: 0;
        top: auto;
        height: 100%;
        width: 100% !important;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        overflow: hidden;
        transform: translateY(100%);
    }

        .offcanvas.offcanvas-adaptive.show {
            transform: translateY(0);
        }

    body:has(.offcanvas-adaptive.show) {
        overflow: hidden;
        touch-action: none;
    }

        body:has(.offcanvas-adaptive.show) .fab {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.9);
        }
}

@media (min-width: 768px) {
    .offcanvas-adaptive {
        width: 500px;
    }
}
